<!-- @author 贺亮 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gky.zcps_android"
    android:versionCode="1"
    android:versionName="@string/ver" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="Global_var"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        
        android:largeHeap="true" >
         
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout1"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout2"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout3"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout4"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout5"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="Tab_Layout_jiyu"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="EntranceActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="chakanActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="searchActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="searchWithListActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="xiaozuyijianActicity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="xiaozufen_Activity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>